
/* CONTACT */
.contact {
    padding-top: 0;
    margin-top: -80px;
    gap: 64px;
    align-items: unset;
}
.contact-left {
    max-width: 600px;
    gap: 40px;
    justify-content: unset;
}
.contact-left > h4 {
    line-height: 42px;
}
.contact-left > .row {
    align-items: flex-start;
    justify-content: unset;
    gap: 16px;
}
.contact-left img {
    width: 32px;
}
.contact-left .column {
    gap: 8px;
}
.contact-left .column p {
    color: var(--neutral-3);
}
.contact-left > .row > .column > p:first-of-type {
    font-weight: 500;
}
.contact-left > .row > .column > p {
    color: black
}
.contact-right {
    gap: 32px;   
}
.contact-form {
    padding: 40px;
    border-radius: 4px;
    border: 2px solid var(--neutral-3);
    min-width: 500px;
    width: 100%;
    order: 2;
    margin: auto;
} 
.contact-form p {
    margin-bottom: 6px;
    font-size: 16px;
    color: var(--neutral-6);
}
.contact-form input, .contact-form  textarea{
    margin-bottom: 24px;
    background-color: rgb(243, 243, 243);
    border: none;
    padding: 10px 12px;
    font-family: "Inter", sans-serif;
    color: var(--neutral-6);
    font-weight: 500;
    resize: none;
    font-size: 16px;
    border-radius: 2px;
    width: 100%;
}
.contact-form textarea {
    height: 125px;
}
::placeholder{
    font-family: "Inter", sans-serif;
    color: var(--neutral-4);
    font-weight: 400;
    font-size: 16px;
}
.contact-form > .wideButton {
    margin-top: 12px;
}
@media only screen and (max-width: 950px) {
    .contact {
        flex-direction: column;
    }
    .contact-form {
        min-width: unset;
        white-space: nowrap;
    }
}
@media only screen and (max-width: 625px) {
    .contact {
        margin-top: -56px;
    }
    .contact-form {
        padding: 24px;
    }
}